.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textBody {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  text-align: justify;
  line-height: 2em;
}
